*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #333;
    
}

.page{
    background-color: rgb(230, 229, 229);
    height: 100vh;
    width: 100vw;
    transform-origin: top left;
    align-content: center; /* align item at center in coloumn */
    justify-items: center; /* align item at center in row */
    

}

.profile{
    background-color: white;
    width: 95vw;
    height: 92vh;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    border-radius: 10px;
}

.menu{
    background-color: rgb(255, 121, 121);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    /* display: inline-block; */
    top: -100px;
    left: -100px;
    z-index: 3;
}

.icon{
    color: white;
    font-size: 25px;
}


#open{
    background: transparent;
    border: 0px;
    height: 100px;
    width: 40px;
    position: absolute;
    top: 50%;
    right: 18%;
}

i{
    color: white;
    font-size: 40px;
}

#close{
    background: transparent;
    border: 0px;
    height: 40px;
    width: 100px;
    position: absolute;
    bottom: 18%;
}

nav{
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 8%;
    left: -110px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
  
}

li{
    height: 40px;
    list-style: none;
    
}

a{
    color: white;
    text-decoration: none;
}

/* main content */

.profile{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    
}


.p_image{
    background-image: url("8cef8c00c6135c7cfe1eb4c68785ced6.jpg");
    background-color: black;
    /* background-repeat: no-repeat; */
    background-size: cover;
    
    border-radius: 50%;
    height: 400px;
    width: 400px;

    
}

.content{
    height: 350px;
    width: 350px;
    line-height: 1.2;

    font-family: 'Lato', sans-serif;

}

h1{
    font-size: 70px;
}

p{
    font-size: 10px;
    font-family: monospace;
    opacity: 0.7;
    line-height: 1.8;
    
}

.box1,.box2,.box3{
   height: 100px;
   width: 100px;
   border-radius: 50%;
   align-content: center;
   justify-content: space-evenly;
   text-align: center;
   
   box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
   
}

.box{
    display: flex;
    gap: 2;
    position: relative;         
    justify-content: space-evenly;
    bottom: 10px;
}

.box1, .box2 , .box3{
    position: absolute;
    /* bottom: 0px; */  
        height: 50px;
        width: 50PX;
}


.box2 img{
    position:relative;
    z-index: 0;
}

.box1{
    background-color: rgb(255, 180, 101);
    
}

.box2{
    background-color: rgb(123, 180, 254);
    z-index: 2;
}

.box3{
    background-color: rgb(255, 108, 108) ;
}

#bubble{
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    z-index: 4;
}